html{
    background-color: rgb(73, 21, 248, 255); ;
}

body {
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1%;
}


.brainfm{
    margin-left: 2%;
    flex-grow: 1;
}

#brainfm{
    width: 19%
}

.signortry{
    margin-right: 19%;
}


#sign-in{
    background-color:transparent;
    border-color: transparent;
    color: rgb(180, 178, 174);
    font-size: 22px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#try{
    background-color: orange;
    color: white;
    font-size: 22px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.buttons{
    border: none;
    color: orange;
    padding: 16px 39px;
    text-align: center;
    text-decoration: none;
    margin: 4px -14px;
    cursor: pointer;
    border-radius: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.body1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1
}

.left-text{
    margin-top: 18%;
    margin-left: 3%;
    position: absolute;
    margin-right: 56%;
    flex: 1;
}

.compimageblock{
    margin-top: 12%;
    padding-left: 8%;
    margin-left: 31%;
    margin-right: 4%;
    flex: 1;
}

#compimage{
    width:100%;
}


.body2{
    margin-top: 15%;
    text-align: center;
    flex: 1;
}

#heading{
    color:white;
    font-size: 48px;
    margin-bottom: -6%;
    font-weight: lighter;
}

#heading2 {
    color:white;
    font-size: 52px;
    font-weight: bolder;
}



#pgraph1{
    color:rgb(182, 172, 172);
    font-size: 26px;
    width: 100%;
}

#featuredimage{
    width: 77%;
}

#featured{
    font-size: 18px;
    color: rgb(180, 178, 174);
}


#freesessions {
    background-color: orange;
    border-color: transparent;
    color: white;
    font-size: 22px;
    padding: 25px 90px;
    margin-top: 7%;
    font-weight: bolder;
}

.body3{
    display: flex;
    margin-top: 14%;
    text-align: center;
}

#science{
    color: white;
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.brainImage{
    margin-left: 7%;
    margin-right: 3%;
    flex: 1;
}

#brainImage{
    width: 85%;
}

.comparisonImage{
    margin-right: 10%;
    margin-top: 1%;
    flex: 1;
}

#comparisonImage{
    width: 75%;
}

.body4{
    display: flex;
    margin-top: 1%;
}


.body4text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 23px;
    color: white;
    width: 100%;
    font-weight: lighter;
    text-size-adjust: auto;
}

.body4head{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: white;
}

#exploreMore{
    background-color: transparent;
    color: white;
    border-color: transparent;
    cursor: pointer;
    font-size: 21px;
    text-decoration: underline;
    font-weight: bolder;
}


.tech-text{
    margin-left: 9%;
    margin-right: 2%;
    flex: 1;
}

.behaviortext{
    margin-right: 9%;
    flex: 1;
}






